* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  list-style: none;
}
body {
  background-color: rgb(236, 233, 236);
}
#wrapper {
  background: #fffefe;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-block: 5px;
  padding-inline: 5px;
  border: 1px solid rgb(210, 209, 209);
  border-radius: 3px;
}
#wrapper #input-and-bouton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-block: 2px;
  padding-inline: 2px;
}
#wrapper #input-and-bouton input {
  height: 35px;
  font-size: 16px;
  border: 1px solid rgb(210, 209, 209);
  border-radius: 8px;
}
#wrapper #input-and-bouton input:focus {
  box-shadow: 0px 0px 2px rgb(159, 159, 159);
}
#wrapper #input-and-bouton button {
  color: #fffefe;
  background-color: #2c8bff;
  display: inline-block;
  padding-inline: 9px;
  padding-block: 7px;
  border-radius: 8px;
  border: 1px solid rgb(210, 209, 209);
  cursor: pointer;
  transition: all 0.2s;
}
#wrapper #input-and-bouton button:hover {
  background-color: #0054bb;
}
#wrapper #input-and-bouton button:active {
  transform: scale(0.9);
}
#wrapper #liste {
  width: 260px;
  height: 120px;
  overflow-y: auto;
  /* height: auto; */
  margin: 20px auto;
  padding-inline: 2px;
  padding-block: 2px;
  border: 1px solid #e8e3e3;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgb(74, 74, 74);
}
#wrapper #liste p:first-child{
  color: dimgray;
  text-align: center;
  font-weight: 400;
  transform: translateY(100%);
}
#wrapper #liste p.disabled{
  display: none;
}

#wrapper #liste ul{
  padding-left: 0;
}
#wrapper #liste li{
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px;
  margin-top: 1px;
  margin-bottom: 2px;
  border-radius: 8px;
}
#wrapper #liste li button{
   color: #ffffff;
  background-color: #fc0000;
  display: inline-block;
  padding-inline: 9px;
  padding-block: 7px;
  border-radius: 8px;
  border: 1px solid rgb(210, 209, 209);
  cursor: pointer;
}